@tailwind base;
@tailwind components;
@tailwind utilities;




.subrayado-azul {
    position: relative;
  }
  
  .subrayado-azul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    left: 0;
    bottom: -2px; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .subrayado-azul:hover::after {
    transform: scaleX(1);
    background-color: #00afff; 
    transform-origin: bottom left;
  }
  